@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

$font: 'Quicksand', sans-serif;

// colours
$white:             #fff;
$lightGrey:         #eee;
$darkGrey:          #d4d4d4;