@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&display=swap');

$font:              'Quicksand', sans-serif;
$headFont:          'Gentium Book Basic', serif;

// colours
$white:             #fff;
$lightGrey:         #eee;
$darkGrey:          #d4d4d4;

// other variables
$transition:          cubic-bezier(.85,.24,.17,.77);