ul.rest-list {
  margin: 0;
  padding: 50px 0;
  list-style-type: none;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  li {
    margin: 0;
    width: 100%;
    padding: 10px;
    list-style-type: none;
    box-sizing: border-box;
    div.inner {
      box-sizing: border-box;
      border-radius: 10px;
      background-color: $white;
      padding: 15px;
      height: 100%;
      h3 {
        margin: 0 0 20px 0;
        position: relative;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #eee;
          content: '';
        }
      }
      p {
        margin: 0 0 5px 0;
        span {
          font-weight: bold;
        }
        &:last-of-type {
          margin: 0;
        }
      }
      a {
        text-decoration: none;
        margin: 20px 0 10px 0;
        display: inline-block;
        position: relative;
        transition: .25s $transition;
        span {
          color: #000000;
          z-index: 2;
          transition: .25s $transition;
          position: relative;
          display: block;
        }
        &:before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: $darkGrey;
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: .25s $transition;
          z-index: 1;
        }
        @media all and (min-width: 1024px){
          &:hover {
            padding: 0 10px;
            span {
              color: #ffffff;
            }
            &:before {
              height: 29px;
            }
          }
        }
      }
    }
  }
  @media all and (min-width: 768px){
    li {
      width: 33.333%;
    }
  }
  @media all and (min-width: 1024px){
    li {
      width: 25%;
    }
  }
}